			<form action='/trackers' method='POST'>
			<input type='text' placeholder='email@example.com' name='email'><input type='hidden' value="<%= @keywords %>" name="keywords"><input type='hidden' value="<%= @timestamp %>" name='timestamp'>
			<input type='submit' value='Notify me!'>
			</form>