	<li><strong><a href="<%= li.at_css('link').text %>" target="_blank">
		<% if li.at_css('title').text.strip.length < 61 %> 
			<%= li.at_css('title').text.strip %></a>
		<% else %>
			<%= li.at_css('title').text[0..60].split(" ")[0...-1].join(" ") %>
		<% end %></strong></a>
		<br/>