<h1>Can we help you in another way, perhaps?</h1>
<p>We really wanted to do that for you. But just can't.</p>
<p>How about we serve you the <a href="/">Torrent Watch homepage</a> instead?</p> 
<p>We could also offer to search for a torrent for you?<br/>We'll do it really quick, too!</p>
<div>
	<form action='/' method='POST'>
	<input type='text' placeholder='The Stranger HD 720p' name='keywords'><input type='submit' value='Search'>
	</form>
</div>
