<div class='container'>

	<h2>Can we help you in another way, perhaps?</h2>
	<p>We really wanted to do that for you. But just can't.</p>
	<p>How about we serve you the <a href="/">PushTorrent homepage</a> instead?</p> 
	<p>We could also offer to search for a torrent for you?<br/>We'll do it really quick, too!</p>

	<form action='/' method='POST'>
	<input type='text' placeholder='The Stranger HD 720p' name='keywords'><input type='submit' value='Search'>
	</form>

</div>
