<div class='container'>
<% flash.each do |key, value| %>
  	<div class="alert alert-<%= key %> "><%= value %></div>
  <% end %>
	<div class='row well'>

		<div class='col-md-6'>
			
			<h2>We watch for named torrent releases.<br />And push them to your inbox!</h2>
				<form action='/' method='POST'>
				
				<div class="form-group">
				<input type='text' placeholder='The Stranger HD 720p' name='keywords'><input type='submit' value='Search'>
				</div>

				</form>
		
				<p class='lead'>We pop you an email when the torrents you seek are available for download. <a href="/signup">Join and get notified</a>!</p>

				<p>New torrents matching your named selections will be pushed to your inbox.</p><p>That's PushTorrent.</p>
		</div>

		<div class="col-md-6">
			<h3>Easy and fast. 11-second tutorial.</h3><img width="350" height="197" src='YT_placeholder.png' data-video="https://www.youtube.com/embed/ScMzIvxBSi4?rel=0&showinfo=0&modestbranding=1&theme=light&controls=0&color=white&autoplay=1">
			<%#
			<iframe width="350" height="197" src="//www.youtube.com/embed/ScMzIvxBSi4?rel=0&showinfo=0&modestbranding=1&theme=light&controls=0&color=white" frameborder="0" allowfullscreen></iframe>
			%>
		</div>
	
	</div>

	<div class='row'>

		<div class='col-md-4'>
			<h3>About PushTorrent</h3><p>PushTorrent takes care of watching for torrents for you. Just add a tracker for the torrents you seek and you will be notified whenever there's a match in future torrent releases. You can then go download. It's that simple.</p>
		</div>

		<div class='col-md-4'>
			<h3>Prototype testing</h3><p>PushTorrent is currently at a prototype stage. The basic functions are working and speed is good. So you are welcome to try PushTorrent. Glitches, bugs and errors can present themselves, though. So use with caution.</p>
		</div>

		<div class='col-md-4'>
			<h3>Try it - it's easy-peasy</h3><p>You simply type in the torrents you are looking for. Refine your search until the results match what you seek. Add a tracker. Every time a new torrent is released matching this search, you will be notified. Easy-peasy. And free.</p>
		</div>

	</div>

</div>
<script src="youtubeload.js"></script>