<div class='container'>
<% flash.each do |key, value| %>
  	<div class="alert alert-<%= key %> "><%= value %></div>
  <% end %>
	<div class='row well'>

		<div class='col-md-6'>
			
			<h2>Get alerts for new torrents</h2>
				<form action='/' method='POST'>
				
				<div class="form-group">
				<input type='text' placeholder='The Stranger HD 720p' name='keywords'><input type='submit' value='Search'>
				</div>

				</form>
		
				<p class='lead'>Get notified! We pop you an email when the torrents you seek are available for download.</p>
		</div>

		<div class="col-md-6">
			<h3>Easy and fast. 11-second tutorial.</h3><img width="350" height="197" src='YT_placeholder.png' data-video="https://www.youtube.com/embed/ScMzIvxBSi4?rel=0&showinfo=0&modestbranding=1&theme=light&controls=0&color=white&autoplay=1">
			<%#
			<iframe width="350" height="197" src="//www.youtube.com/embed/ScMzIvxBSi4?rel=0&showinfo=0&modestbranding=1&theme=light&controls=0&color=white" frameborder="0" allowfullscreen></iframe>
			%>
		</div>
	
	</div>

	<div class='row'>

		<div class='col-md-4'>
			<h3>About Torrent Watch</h3><p>Simply do a search and add this search to your account.</p>
		</div>

		<div class='col-md-4'>
			<h3>Public beta testing</h3><p>This amazing text goes here to elaborate on this interesting point that is now placeholder text only. But you get the point due to the placeholder. So it needs to go here.</p>
		</div>

		<div class='col-md-4'>
			<h3>Try it - it's easy-peasy</h3><p>This amazing text goes here to elaborate on this interesting point that is now placeholder text only. But you get the point due to the placeholder. So it needs to go here.</p>
		</div>

	</div>

</div>
<script src="youtubeload.js"></script>