<!DOCTYPE HTML>
<html lang='EN'>
	<head>
		<meta charset="UTF-8">
		<title>PushTorrent</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
	</head>
	<body>
		<div class='container navbar navbar-default'>
			<a class="navbar-brand" href="/">PushTorrent</a>
	    <ul class='nav navbar-nav navbar-right'>
	    	<li><a href="/">Home</a></li>
				<% if current_user? %>
					<li><a href="/logout">Log out</a></li>
					<li><a href="/user">Trackers</a></li>
				<% else %>
					<li><a href="/signup">Sign up</a></li>
					<li><a href="/login">Log in</a></li>
				<% end %>
				<li><a href="/forum">Forum</a></li>
			</ul>
		</div>

	<%= yield %>
	
	<div class='container'>
		<center>
    <p><small>Disclaimer: PushTorrent does not condone using torrents for illegal purposes or downloading copyrighted material.<br/>
    PushTorrent: Actionable intel on the torrents you need.<br/>SSL: <a href="/">PushTorrent</a> | <a href="/about">About</a> | <a href="/contact">Contact</a>
    </small></p>
    </center>
	</div>
<%#
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
%>
</body>
</html>