<!DOCTYPE HTML>
<html lang='en'>
	<head>
		<meta charset="utf8">
		<title>Torrent Watch</title>
<%#	
	<link href="/style.css" rel="stylesheet" media="screen, projection"> 
%>	
		<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
	</head>
	<body>
	<header>
		<hgroup>
			<div><h1><a href="/">Torrent Watch</a></h1>
      <h3>Get torrent notifications in your inbox</h3>
      </div>
			<div><a href="/signup">Sign up</a> | <a href="/login">Log in</a> | <a href="/forum">Forum</a>
			</div>
    </hgroup>
  </header>

  <div id="main">
	<%= yield %>
	</div>

	<footer>
    <p><small>Actionable intel on the torrents you need.<br/>
    SSL: <a href="/">Torrent watch</a> | <a href="/about">About</a> | <a href="/contact">Contact</a><br/>
    Disclaimer: Torrent Watch does neither support nor condone using torrents for illegal purposes or downloading copyrighted material. Think!</small></p>
  </footer>
