<div class='container'>	
	<% flash.each do |key, value| %>
  	<div class="alert alert-<%= key %> "><%= value %></div>
  <% end %>
	<h2>Log in to PushTorrent</h2>
	<h3>Existing user - welcome back!</h3>
	<p>Enter your email address and password.</p>
	<form action='/login' method='POST'>
		<input type='text' placeholder='Email address' name='user[email]'>
		<input type='text' placeholder='Password' name='user[password]'>
		<input type='submit' value='Log in'>
	</form>
	<h3>New user?</h3>
	<p>To continue immediately, simply <a href="/signup">sign up</a>!
</div>
