<h2>Log in to Torrent Watch</h2>
<div>
<form action='/login' method='POST'>
	<input type='text' placeholder='Email address' name='user[email]'>
	<input type='text' placeholder='Password' name='user[password]'>
	<input type='submit' value='Log in'>
</form>
<p>Enter your email address and password if you are an existing user.</p>
<p>If you want to create an account, then <a href="#">sign up</a> immediately!
</div>
