<h2>Find your torrent</h2>
<div>
<form action='/' method='POST'>
	<input type='text' placeholder='The Stranger HD 720p' name='keywords'><input type='submit' value='Search'>
</form>
<p>Get notified when torrents you want are available for download.</p>
</div>
<div>
	<h3>Try the 11-second tutorial. Easy-peasy.</h3>
<iframe width="350" height="197" src="//www.youtube.com/embed/ScMzIvxBSi4?rel=0&showinfo=0&modestbranding=1&theme=light&controls=0&color=white" frameborder="0" allowfullscreen></iframe>
</div>
