<div class='container'>

	<div class='row well'>
		<div class='col-md-6'>
			<h2>Find your torrent</h2>
				<form action='/' method='POST'>
				
				<div class="form-group">
				<input type='text' placeholder='The Stranger HD 720p' name='keywords'><input type='submit' value='Search'>
				</div>

				</form>
		
				<p class='lead'>Get notified when torrents you want are available for download.</p>
		</div>

		<div class="col-md-6">
			<h3>Try the 11-second tutorial. Easy-peasy.</h3>
			<iframe width="350" height="197" src="//www.youtube.com/embed/ScMzIvxBSi4?rel=0&showinfo=0&modestbranding=1&theme=light&controls=0&color=white" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

</div>