<strong>Change menu to "Log out"...</strong>
<h2>You are now logged in to Torrent Watch.</h2>
<div>
<p>
Your notifications: sort by name | sort by created_date <br/>
<ul>
<li>
"Fictional user FLAC 01" - <a href="#">Edit</a> | <a href="#">Pause</a> | <a href="#">Remove</a>]<br />
Notification: immediately, daily, weekly [x], monthly.
</li>
<li>
"Fictional user movie 01" - <a href="#">Edit</a> | <a href="#">Pause</a> | <a href="#">Remove</a>]<br />
Notification: immediately, daily, weekly, monthly [x].
</li>
<li>
"Fictional user epub 01" - <a href="#">Edit</a> | <a href="#">Pause</a> | <a href="#">Remove</a>]<br />
Notification: immediately, daily, weekly [x], monthly.
</li>
<li>
"Fictional user mp3 album 01" - <a href="#">Edit</a> | <a href="#">Pause</a> | <a href="#">Remove</a>]<br />
Notification: immediately [x], daily, weekly, monthly.
</li>
<li>
"Fictional user mp3 album 02" - <a href="#">Edit</a> | <a href="#">Pause</a> | <a href="#">Remove</a>]<br />
Notification: immediately [x], daily, weekly, monthly.
</li>
<p>
Active notification trackers: 5</p>
<p><a href="#">Notification archive</a> (22 listings)
</p>

<h2>Profile info</h2>
Name: Firstname Lastname [<a href="#">edit</a>]<br/>
Member since: datetime<br/>
Email: your@example.com [<a href="#">change</a>]<br/>
Password: [<a href="#">change</a>]<br/>
Number of <a href="#">forum</a> posts: 1<br/>
Last forum post: <a href="#">*NOOB* Why is there no category selection possible?</a><br/>
<a href="#">Delete account</a> (confirmation required)<br/>
</p>
</div>
