<div class='container'>
	<h2>No matching torrents available!</h2>
	<p>But we can notify you immediately a torrent matching <strong>'<%= @keywords %>'</strong> is released! Just enter your email in the form below. 
	</p>
	<h2>Get notified!</h2>
	<% if current_user? %>
		<%= erb :_addtrackercurrentuserform %>
	<% else %>
		<%= erb :_addtrackernewuserform %>
		<small>No monkey business. Promise.</small>
	<% end %>
	<br />
	<br />
	<p>Immediately your wanted torrent comes online we will send you a notification. Kick back, relax and enjoy. The good news is soon to come...</p>
	<p>Way better this way...</p>
	<br />
</div>
